@media screen and (max-width: 1224px){}
@media screen and (max-width: 1024px){}

@media screen and (max-width: 950px){

}
@media screen and (max-width: 768px){
  nav .navcont{display: block;margin:0 auto;border-bottom: 1px solid #f0f0f0;}
  nav .navcont .logo{width: 100%; margin: 0 auto;}
  nav .navcont ul{display: block; margin: 0 auto; float: none;}
  nav .navcont ul li a:hover{color:#333 ;}

}
@media screen and (max-width: 480px){

}

@media screen and (max-width: 375px){}


@media screen and (max-width: 320px){}