@media screen and (max-width: 1224px){}
@media screen and (max-width: 1024px){}

@media screen and (max-width: 950px){

}
@media screen and (max-width: 768px){
  nav .navcont .logo{width: 20%; margin: 0 auto;}
  nav .navcont ul{display: none; margin: 0 auto; float: none;}
  nav .navcont ul li a:hover{color:#333 ;}
  nav .hamburger_button{display:block;position: absolute;top:0; right:15px;}
  nav .navcont.active{border-bottom: 2px solid #f0f0f0; margin:0 auto;}

}
@media screen and (max-width: 480px){

}

@media screen and (max-width: 375px){}


@media screen and (max-width: 320px){}